<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Створити нову позицію</title>
</head>
<body>
    <h1>Створити нову позицію</h1>

    <!-- Посилання для повернення до списку всіх записів -->
    <a href="{% url 'on_tap:on_tap_list' %}" class="btn btn-secondary">Назад до списку</a>

    <!-- Форма для створення нового запису -->
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Зберегти</button>
    </form>
</body>
</html>
